<a href="https://colab.research.google.com/github/Zorug/Steam-Stuff/blob/master/Collab_Steam_git_upload.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exemplo de tratamento de dados: Steam

In [2]:
import pandas as pd

dados = pd.read_csv('https://raw.githubusercontent.com/Zorug/Steam-Stuff/master/STC_set_data.csv')
dados.head()

                 Game  # Owned  # Unique  ...  Discount       Added    AppId
0    City Game Studio        0         0  ...      0.52  2019-10-24   726840
1  Transport Services        0         0  ...      0.97  2019-10-23   993690
2         Deadly Days        0         0  ...      0.35  2019-10-22   740080
3    Moons of Madness        0         0  ...      0.31  2019-10-22  1012840
4  NEKO-NIN exHeart 3        0         0  ...      0.44  2019-10-21  1129250

[5 rows x 16 columns]

## Remover os dados inúteis para o tratamento (trabalharemos com cartas e boosters)

In [3]:
dados = dados.drop(["# Owned", "# Unique", "Badge Lvl", "Emote Avg", "BG Avg", "Added"], axis=1)
dados.head()

                 Game  # Cards Set Price  ... Avg Qty  Discount    AppId
0    City Game Studio       12      1.25  ...      17      0.52   726840
1  Transport Services        5      1.85  ...       4      0.97   993690
2         Deadly Days       10      0.78  ...      26      0.35   740080
3    Moons of Madness        6      0.75  ...      36      0.31  1012840
4  NEKO-NIN exHeart 3        6      1.00  ...      45      0.44  1129250

[5 rows x 10 columns]

## Verificar os tipos presentes nas colunas estão aceitáveis:

In [4]:
formato_dos_dados = dados.dtypes
formato_dos_dados

Game            object
# Cards          int64
Set Price       object
Price Diff      object
Card Avg       float64
Booster Avg    float64
Booster %       object
Avg Qty          int64
Discount       float64
AppId            int64
dtype: object