In [2]:
import pandas as pd

dados = pd.read_csv('STC_set_data.csv')
dados.head()

,Game,# Owned,# Unique,# Cards,Badge Lvl,Set Price,Price Diff,Card Avg,Booster Avg,Booster %,Emote Avg,BG Avg,Avg Qty,Discount,Added,AppId
0,City Game Studio,0,0,12,0,1.25,1.25,0.10,NaN,0.0,0.00,0.00,17,0.52,2019-10-24,726840
1,Transport Services,0,0,5,0,1.85,1.85,0.37,NaN,0.0,0.00,0.00,4,0.97,2019-10-23,993690
2,Deadly Days,0,0,10,0,0.78,0.78,0.08,NaN,0.0,0.00,0.00,26,0.35,2019-10-22,740080
3,Moons of Madness,0,0,6,0,0.75,0.75,0.12,0.17,-41.7,0.00,0.00,36,0.31,2019-10-22,1012840
4,NEKO-NIN exHeart 3,0,0,6,0,1.00,1.00,0.17,0.18,-5.9,1.34,5.56,45,0.44,2019-10-21,1129250

In [3]:
print('vamos testar esse esquema')

vamos testar esse esquema