# Exemplo de tratamento de dados: Steam

In [1]:
import pandas as pd

dados = pd.read_csv('STC_set_data.csv')
dados.head()

,Game,# Owned,# Unique,# Cards,Badge Lvl,Set Price,Price Diff,Card Avg,Booster Avg,Booster %,Emote Avg,BG Avg,Avg Qty,Discount,Added,AppId
0,City Game Studio,0,0,12,0,1.25,1.25,0.10,NaN,0.0,0.00,0.00,17,0.52,2019-10-24,726840
1,Transport Services,0,0,5,0,1.85,1.85,0.37,NaN,0.0,0.00,0.00,4,0.97,2019-10-23,993690
2,Deadly Days,0,0,10,0,0.78,0.78,0.08,NaN,0.0,0.00,0.00,26,0.35,2019-10-22,740080
3,Moons of Madness,0,0,6,0,0.75,0.75,0.12,0.17,-41.7,0.00,0.00,36,0.31,2019-10-22,1012840
4,NEKO-NIN exHeart 3,0,0,6,0,1.00,1.00,0.17,0.18,-5.9,1.34,5.56,45,0.44,2019-10-21,1129250

In [2]:
qnt_de_itens_inicial = dados.shape[0]
qnt_de_itens_inicial

9156

## Remover os dados in√∫teis para o tratamento (trabalharemos com cartas e boosters)

In [3]:
dados = dados.drop(["# Owned", "# Unique", "Badge Lvl", "Emote Avg", "BG Avg", "Added"], axis=1)
dados.head()

,Game,# Cards,Set Price,Price Diff,Card Avg,Booster Avg,Booster %,Avg Qty,Discount,AppId
0,City Game Studio,12,1.25,1.25,0.10,NaN,0.0,17,0.52,726840
1,Transport Services,5,1.85,1.85,0.37,NaN,0.0,4,0.97,993690
2,Deadly Days,10,0.78,0.78,0.08,NaN,0.0,26,0.35,740080
3,Moons of Madness,6,0.75,0.75,0.12,0.17,-41.7,36,0.31,1012840
4,NEKO-NIN exHeart 3,6,1.00,1.00,0.17,0.18,-5.9,45,0.44,1129250

## Verificar os tipos presentes nas colunas est√£o aceit√°veis:

In [4]:
formato_dos_dados = dados.dtypes
formato_dos_dados

Game            object
# Cards          int64
Set Price       object
Price Diff      object
Card Avg       float64
Booster Avg    float64
Booster %       object
Avg Qty          int64
Discount       float64
AppId            int64
dtype: object

#### √â necess√°rio fazer as seguintes convers√µes de tipos para trabalhar:
- 1. 'Set Price', 'Price Diff' e 'Booster %' devem ser do tipo float. Para Evitar erro de convers√£o √© necess√°rio substituir o caractere ',' por '' (espa√ßo vazio)
- 2. 'AppId' por ser um c√≥digo de identifica√ß√£o deve ser do tipo string para evitar problemas

In [5]:
def remove_virgula_perdida(sentenca):
    sentenca = sentenca.replace(',','')
    return sentenca

In [7]:
para_float = ['Set Price', 'Price Diff', 'Booster %']

for coluna in dados[para_float]:
    dados[coluna] = dados[coluna].apply(remove_virgula_perdida)
    
dados[para_float] = dados[para_float].astype('float64')
dados['AppId'] = dados['AppId'].astype('object')

In [9]:
dados.dtypes

Game            object
# Cards          int64
Set Price      float64
Price Diff     float64
Card Avg       float64
Booster Avg    float64
Booster %      float64
Avg Qty          int64
Discount       float64
AppId           object
dtype: object

In [10]:
dados.head()

,Game,# Cards,Set Price,Price Diff,Card Avg,Booster Avg,Booster %,Avg Qty,Discount,AppId
0,City Game Studio,12,1.25,1.25,0.10,NaN,0.0,17,0.52,726840
1,Transport Services,5,1.85,1.85,0.37,NaN,0.0,4,0.97,993690
2,Deadly Days,10,0.78,0.78,0.08,NaN,0.0,26,0.35,740080
3,Moons of Madness,6,0.75,0.75,0.12,0.17,-41.7,36,0.31,1012840
4,NEKO-NIN exHeart 3,6,1.00,1.00,0.17,0.18,-5.9,45,0.44,1129250